html {
    background-color: #ffffcc;
}

.origen{
    float: left;
    background-color: #ff9966;
    border-radius: 15px;
    width: 42%;
    height:100%;
    padding: 2%;
    margin-left: 5%;
}

.destino{
    float: right;
    background-color: #ff9966;
    border-radius: 15px;
    width: 42%;
    height:100%;
    padding: 2%;
    margin-right: 5%;
}

.origen select{
    width: 50%;
    background-color: #ff9966;
    padding: 1%;
    padding-bottom: 3%;
    margin-bottom: 1%;
}

.destino select{
    width: 50%;
    background-color: #ff9966;
    padding: 1%;
    padding-bottom: 3%;
    margin-bottom: 1%;
}
