html {
    background-color: #ffffcc;
}

#datos-personales\ titulo #campos-obligatorios {
position: absolute;
    margin-left: 35%;
    margin-top: 31.5%;
    margin-bottom: 3px;
    background-color: #ffffcc;
}

#datos-personales\ titulo #registrarse-cliente {
    position: absolute;
    margin-left: 45%;
    margin-top: 33.5%;  
}

#datos-Personales-Usuario {
    position: absolute;
    align-content: center;
    background-color: #ff9966;
    display: block;
    margin-left: 35%;
    border-radius: 15px;
    padding: 20px 50px 25px 50px;
    width: 380px;
    height: 405px;
}

#datos-personales\ titulo h3 {
    text-align: center;
    padding-bottom: 3px;
    background-color: #ffffcc;
}

#datos-personales\ titulo h1 {
    font-size: 22px;
}

#datos-Personales-Usuario input {
    display: block;
    background: none;
    font-size: 16px;
    border-width: 0;
    line-height: 1.9;
    width: 100%;
    color: #ffffff;
    transition: all 0.28s ease;
    box-shadow: none;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #0f99c6;
}

#datos-PersonalesUsuario select {
    background-color: #ff9966;
    padding: 10px;
    padding-bottom: 3%;
}

.Registro h1 {
    font-size: 28px;
}

.Footer {
    position: absolute;
    bottom: 0;
     height: 30px
}