#logo {
    animation: App-lo-spin infinite 20s linear;
    height: 70px;
}

#logo p{
    padding-top: 60%
}

#bcs{
    padding: 1%;
    width: 70%;
    float: right;
    margin-left: 58%;
}

.Header {
    height: 70px;
    background-color: #282c34;
    font-size: calc(10px + 2max);    
    color: white;
    display: inline-flex;
    width: 100%;
}



